{:paths ["src" "resources" "classes"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        org.apache.avro/avro {:mvn/version "1.10.1"}
        byte-streams/byte-streams {:mvn/version "0.2.5-alpha2"}
        io.confluent/kafka-avro-serializer {:mvn/version "6.1.0"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}}
 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "confluent" {:url "https://packages.confluent.io/maven/"}
  "clojars" {:url "https://clojars.org/repo/"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {com.bakdata.fluent-kafka-streams-tests/schema-registry-mock {:mvn/version "2.3.0"}
                      org.apache.kafka/kafka-clients {:mvn/version "2.6.0"}
                      org.apache.kafka/kafka-streams-test-utils {:mvn/version "5.3.1-ce"}}}
  :run-x {:extra-paths ["dev"]
          :ns-default user
          :exec-fn run-x}
  :runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                   :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
           :main-opts ["-m" "cognitect.test-runner"
                       "-d" "test"]}
  :jar {:replace-deps {seancorfield/depstar {:mvn/version "2.0.171"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "closeable-map.jar"
                    :sync-pom true
                    :compile-ns :all
                    :aot true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "closeable-map.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? true
                       :artifact "closeable-map.jar"}}}}
